body {
	background-color: black;
	/*background-color: #ddd;*/
	/*color: #808080;*/
	font-family: 'Avenir', 'Arial', sans-serif;
	font-weight: 200;
	font-size: 12px;
}

.movie_table {
    /*border-collapse: collapse;*/
}

/*.movie_row {*/
    /*width: fit-content;*/
/*}*/

.movie_cell {
    padding: 0px;
    /*border-radius: 4px;*/
}
.movie_cell.act {
    background-color: #555;
}
.movie_cell.blank {
    background-color: #222;
}
.movie_cell.scene {
    background-color: #eee;
}
.movie_cell.shot {
    background-color: white;
}

div.shot_image {
    background-repeat: no-repeat;
}

div.shot_dialog {
    background-color: #111;
    font-size: 7px;
    color: #fff;
}

table.table_data {
    font-size: 7px;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tr.tr_data {
    height: 18px;
}

tr.tr_title {
    height: 100%;
    border-top: 1px solid #ccc;
}

td.td_title {
    padding-left: 5px;
}

td.td_data {
    padding-left: 5px;
    padding-right: 5px;
}

td.td_data_button {
    background-color: #ddd;
    color: #666;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
}

.movie_cell.act td.td_data_button {
    background-color: #444;
    color: #aaa;
}