body {
	background-color: #eaeaea;
	font-family: 'Trirong', georgia, times, serif;
	font-weight: 200;
	font-size: 18px;
}


body, a {
	color: #808080;
}

.grid {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.cell {
    /*border-radius: 3px;*/
    padding: 0.5em;
    background-color: #d9d9d9;
}

.cell.scene {
    background-color: white;
}
.cell.act {
    background-color: white;
}